.table {
  .text-white {
    background-color: #60a4f4;
    border: #60a4f4;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table thead th{
  text-align: center;
}
.invalid-form {
  color: red;
}